:root {
  --green-color: #a8ad9c;
  --maroon-color: #602827;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffe5dd;
}

body::-webkit-scrollbar {
  display: none;
}






.contactImage {
    position: relative;
    padding: 0;
    margin: 0;
}

.contactText {
    position: absolute;
    top: 2%;
    left: 3%;
    color: white;
    font-size: 3rem;
    font-style: italic;
}

@media screen and (min-width: 1200px){
    .map {
    width: 600px;
    height: 337px;
    }
}

@media screen and (max-width: 768px) {
    .contactText {
        font-size: 2rem;
    }
}

@media screen and (max-width: 425px) {
    .contactText {
        font-size: 1.3rem;
        top: 0;
        left: 2%;
    }
}