@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap");
:root {
  --green-color: #a8ad9c68;
  --maroon-color: #602827;
  --transparent: #ffffff00, 0;
}

a.desktop {
  text-decoration: none;
  color: #602827;
}

body {
  background: linear-gradient(
    180deg,
    rgba(226, 220, 220, 0.4009978991596639) 75%,
    rgba(218, 201, 201, 0.25253851540616246) 100%
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.contactImage {
  position: relative;
  padding: 0;
  margin: 0 0 -4px 0;
}

.contactText {
  position: absolute;
  bottom: 5%;
  left: 3%;
  color: white;
  font-size: 3rem;
  font-family: "Italiana", sans-serif;
}

.socialIcon {
  transform: scale(3);
  margin: 0 25px 0 25px;
}

@media screen and (min-width: 1200px) {
  .map {
    width: 600px;
    height: 337px;
  }
}

@media screen and (max-width: 768px) {
  .contactText {
    font-size: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .contactText {
    font-size: 1rem;
    bottom: 5%;
    left: 2%;
  }

  /* .map {
    display: none;
  } */
}
