:root {
  --green-color: #a8ad9c68;
  --maroon-color: #602827;
  --transparent: #ffffff00, 0;
}

body {
  background: linear-gradient(
    180deg,
    rgba(191, 166, 162, 0.39539565826330536) 10%,
    rgba(137, 114, 110, 0.4458158263305322) 60%
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.contactImage {
  position: relative;
  padding: 0;
  margin: 0 0 -4px 0;
}

.contactText {
  position: absolute;
  bottom: 5%;
  left: 3%;
  color: white;
  font-size: 3rem;
  font-family: "Italiana", sans-serif;
}

.socialIcon {
  transform: scale(3);
  margin: 0 25px 0 25px;
}

@media screen and (min-width: 1200px) {
  .map {
    width: 600px;
    height: 337px;
  }
}

@media screen and (max-width: 768px) {
  .contactText {
    font-size: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .contactText {
    font-size: 1rem;
    bottom: 5%;
    left: 2%;
  }

  .map {
    display: none;
  }
}
